<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bacula Agent Deploy Server</title>
<style>
h1 {
 color:#F0FFFF;
 }
h2 {
 color:#F0FFFF;
 }
h3 {
 color:#F0FFFF;
 }
a {
 color:#DCDCDC;
 }
p {
 color:#F0FFFF;
 }
content_left {
 text-align:left;
 }
body {
 margin: 0;
 height: 100%;
 background: url(../images/lemur-wallpaper.jpg) no-repeat;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }
</style>
<script type="text/javascript">
  /* <![CDATA[ */
   function externalLinks() {
    links = document.getElementsByTagName("a");
    for (i=0; i<links.length; i++) {
      link = links[i];
      if (link.getAttribute("href") && link.getAttribute("rel") == "external")
      link.target = "_blank";
    }
   }
   window.onload = externalLinks;
  /* ]]> */ 
</script>
</head>
<body id="content_left">
<h1>Welcome to iBacula&reg; &mdash; All-in-one Corporate Backup System</h1>
<h3>Disconnect immediately if you are not an authorized user or please <a href="/login">authorize!</a></h3>
<br>
<h2>Thank you. You are the best. Good luck for you backups always!</h2>
<br>
<img src="../images/backup-humor.jpg" alt="Humor" style="width:339px;height:315px;">
<p style="position: absolute; left: 0px; bottom: 0px;"> Copyright &copy; 2016-2017. Powered by <a href="https://github.com/MykolaPerehinets/bads" rel="external"> Mykola Perehinets.</a> All rights reserved.</p>
</body>
</html>
